################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
src/AzCloudApp.MessageProcessor.Core/bin/*
src/AzCloudApp.MessageProcessor.Core/obj/*
src/AzCloudApp.MessageProcessor.Core.MessageSenderFunction/bin/*
src/AzCloudApp.MessageProcessor.Core.MessageSenderFunction/obj/*
src/AzCloudApp.MessageProcessor.Core.Thermo.DataStore/bin/*
src/AzCloudApp.MessageProcessor.Core.Thermo.DataStore/obj/*
src/AzCloudApp.MessageProcessor.Core.Unit.Tests/bin/*
src/AzCloudApp.MessageProcessor.Core.Unit.Tests/obj/*
src/AzCloudApp.MessageProcessor.Function/bin/*
src/AzCloudApp.MessageProcessor.Function/obj/*
src/AzCloudApp.MessageProcessor.Core.ThermoDataModel/bin/*
src/AzCloudApp.MessageProcessor.Core.ThermoDataModel/obj/*
.gitignore
