################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/PersonelTemperatureHandlingFunction
/src/ThemoDataMessageProcessor/bin
/src/ThemoDataMessageProcessor/obj
/src/ThermoDataMessageProcessor.Unit.Tests/bin/Debug/netcoreapp3.1
/src/ThermoDataMessageProcessor.Unit.Tests/obj/Debug/netcoreapp3.1
/src/ThermoDataMessageProcessor.Unit.Tests/obj/Release/netcoreapp3.1
/src/ThermoDataModel/bin
/src/ThermoDataModel/obj/Debug/netstandard2.0
/src/ThermoDataModel/obj/Release/netstandard2.0
/src/PersonelTemperatureHandlingFunction/Properties
/src/ThermoDataModel/obj
/src/ThermoDataMessageSender/Properties/PublishProfiles
/src/ThermoDataStore/bin
/src/ThermoDataStore/obj/Debug/netstandard2.0
/src/ThermoDataStore/obj/Release/netstandard2.0
/src/ThermoDataStore/obj
/src/ThemoDataMessageProcessor/bin/*
/src/ThemoDataMessageProcessor/obj/*
src/PersonelTemperatureHandlingFunction/bin/*
src/PersonelTemperatureHandlingFunction/obj/*
src/ThermoDataMessageSender/bin/*
src/ThermoDataMessageSender/obj/*
src/ThermoDataMessageProcessor.Unit.Tests/obj/*
